*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --gray-100: hsl(0, 0%, 95%);

  /* Fonts */
  --ff-primary: "Lexend Deca", sans-serif;
  --ff-secondary: "Big Shoulders Display", sans-serif;
  --fs-base: 15px;

  --fw-regular: 400;
  --fw-bold: 700;
}
html {
  font-size: var(--fs-base);
}
/* Layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding-block: 2rem;
  background-color: var(--gray-100);
}
.cards-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  overflow: hidden;
}
.card--sedans {
  background-color: var(--gold-500);
}
.card--suvs {
  background-color: var(--cyan-800);
}
.card--luxury {
  background-color: var(--green-950);
}
/* Typography */
.card__title {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--gray-100);
}
.card__text {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  color: var(--transparent-white);
  max-inline-size: 31ch;
}
/* Buttons */
.card__button {
  align-self: flex-start;
  display: inline-block;
  padding: 0.7rem 1.8rem;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 24px;
  background-color: var(--gray-100);
  cursor: pointer;
  transition: color 0.2s ease, border 0.2s ease;
}
.card__button--sedans {
  color: var(--gold-500);
}
.card__button--suvs {
  color: var(--cyan-800);
}
.card__button--luxury {
  color: var(--green-950);
}
.card__button:hover,
.card__button:focus-visible {
  color: var(--gray-100);
  border: 2px solid var(--gray-100);
}
.card__button:hover.card__button--sedans {
  background-color: var(--gold-500);
}
.card__button:hover.card__button--suvs {
  background-color: var(--cyan-800);
}
.card__button:hover.card__button--luxury {
  background-color: var(--green-950);
}
/* Utility for accessibility title section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
@media (min-width: 48rem) {
  /* Layout */
  .cards-container {
    flex-direction: row;
  }
}
@media (prefers-reduced-motion: reduce) {
  .card__button {
    transition-duration: 0.01ms;
  }
}
